@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


html, body {
    height: 100%;
    overflow: hidden; /* Evita que la página haga scroll */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column; /*disposicon de manera vertical*/
    align-items: bcenter;
    background-image: url('img/background1.png');
    background-size:cover ;
    background-position: center;
    background-attachment: fixed; /* Esto hace que la imagen se mantenga fija al hacer scroll */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    width: 100%;
    height: 100vh;
}

.pokemonSideBar {
    width: 250px;
    background-color: #19af2d;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0; /*pegada al techo*/
    left: 0; /*pegada a la pared izquierda*/
    color: white;
    box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.5); /*aprender esto*/
    display: flex;
    flex-direction: column;
}

.pokemonSideBar ul {
    line-height: 1; /*interlineado entre cada tipo de pokemon*/
    list-style: none; 
    padding: 0;
}

.pokemonSideBar h2 {
    text-align: center;
    margin-bottom: 15px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /*aprender esto*/
    font-size: 1.2rem;
}

.pokemonSideBar li {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 5px;
    font-size: 0.9rem;
}

.pokemonSideBar li:hover {
    background-color: rgba(255, 255, 255, 0.5); /*aprender esto*/
}

h1{
    text-align: center;
    width: 100%;
    margin: 20px;
    margin-left: 150px;
    font-size: 2rem;
    color: hsl(0, 75%, 50%);
    text-shadow: 3px 3px 0px #ffcc00, 5px 5px 0px black; /*aprender esto*/
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin-left: 270px; 
    margin-top: 30px; 
    padding: 20px;
}

.pokemon-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*grid generator*/
    grid-template-rows: repeat(4, 1fr); /*grid generator*/
    grid-column-gap: 0px; /*grid generator*/
    grid-row-gap: 0px;  /*grid generator*/
    gap: 15px;
    padding: 20px;
    width: 70%;
    margin-left: 350px;
    padding-top: 70px;
    
}

.pokemon-container div {
    margin-bottom: 15px; 
}


#pokemonInput {
    padding: 10px;
    border-radius: 10px;
    border-color: hsl(0, 75%, 50%);
    width: 220px;
    font-family: 'Press Start 2p', cursive;
}

button{
    padding: 8px;
    background-color:  hsl(0, 75%, 50%);
    border: none;
    color: #f4f4f4;
    border-radius: 5px;
    border: 2px solid;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

button:hover{
    background-color: #902c01; /*cambiar color (no es parecido al resto)*/
}

.card {
    background-color: #f4f4f4;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /*aprender esto*/
    cursor: pointer;
    font-size: 1rem;
}

.card:hover{
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3); /*aprender esto*/
}

